.top {
  float: right;
  padding: 4px;
  color: blue;
  font-size: 12px;
}

/*.container {
  border: black 1px;
  margin-left: 160px;
  margin-top: 40px;*/
}

.well p {
  text-align: center;
}
#welcome {
  text-align: center;
  float:left;
}
.well {
  border: solid black 1px
}

.sidebar {
  width: 10%;
  float: left;
  border: solid black 1px;
  overflow: none;
  text-align: center;

}
